/*微信二维码样式定义,放在https协议下*/
.impowerBox .qrcode
{
    width: 180px;
    margin:10px auto;
}
.impowerBox .title
{
    display: none;
}
/*Cygnet*/
.impowerBox .info
{
    width:100%;
    margin:0 auto;
}
.status_icon
{
    display:none;
}
.impowerBox .status_succ
{
    font-size:16px;
    text-align:center;
    margin-top:-10px;
}
.info .status_txt p
{
    display:none;
}
.info .status_browser
{
    margin-top:-10px;
}
